@model IEnumerable<Dairy_Farm_Management_Project_3rd_try.Models.VaccineDetail>

@{
    ViewBag.Title = "Index";
}

@*
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameOfDisease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumAge)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfDisease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumAge)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.VaccineNo }) |
                @Html.ActionLink("Details", "Details", new { id=item.VaccineNo }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.VaccineNo })
            </td>
        </tr>
    }

    </table>
*@

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Mukta:wght@300;400;600;700;800&family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.7/css/font-awesome.min.css">
    <!-- Code by Angela Delise
    https://codepen.io/angeladelise/full/LYREErG -->

</head>

<body class="newbody">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="newtable">
        <thead class="newthead">
            <tr class="newtr">
                <th class="newth">@Html.DisplayNameFor(model => model.VaccineNo)</th>
                <th class="newth">@Html.DisplayNameFor(model => model.NameOfDisease)</th>
                <th class="newth">@Html.DisplayNameFor(model => model.MinimumAge)</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {

            <tr class="newtr">
                <td class="newtd">@Html.DisplayFor(modelItem => item.VaccineNo)</td>
                <td class="newtd">@Html.DisplayFor(modelItem => item.NameOfDisease)</td>
                <td class="newtd">@Html.DisplayFor(modelItem => item.MinimumAge)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.VaccineNo }) |
                    @Html.ActionLink("Details", "Details", new { id = item.VaccineNo }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.VaccineNo })
                </td>
            </tr>

            }

        </tbody>
    </table>
</body>